.admin_record_index {
  input {
    padding: 12px 0 10px;
  }
  .show-form {
    border-bottom: 1px solid #ced4da;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0;
  }

  #treatment-table {
    textarea {
      overflow: auto;
    }
    .date-order {
      cursor: pointer;

      .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;

        &.down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }

        &.up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
      }
    }
    #btn-row {
      margin: 20px 0;
      width: 100%;
    }
  }
  #treatment_form_wrapper {
    .btns-wrapper {
      button {
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .admin_record_index {
    #treatment-table {
      #btn-row {
        width: auto;
      }
    }
  }
}
