//General
.flex {
  display: flex;
}
.flex-baseline {
  align-items: baseline;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}

textarea {
  overflow: hidden;
  resize: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
  &:hover {
    text-decoration: none;
  }
}

//LOADER
.spinner {
  //margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
// <<< END LOADER

//INPUTS
.form__group {
  position: relative;
  padding: 15px 15px 0;
  margin-top: 10px;
  .form__label_radio {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid $dark-grey;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #ffa50099;
      border-color: orange;
    }
  }
  .form__radio {
    opacity: 0;
    position: fixed;
    width: 0;
    &:checked + label {
      background-color: orange;
      border-color: orange;
      color: white;
    }
  }
}

textarea {
  &.form__field {
    &:read-only {
      background-color: #e9ecef;
    }
  }
}

select {
  &.form__field {
    &:disabled {
      background-color: #e9ecef;
    }
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #495057;
  padding: 5px 0 7px;
  background: $white;
  transition: border-color 0.2s;
  &[type="text"], &[type="email"], &[type="date"], &[type="number"] {
    &:read-only {
      background-color: #e9ecef;
    }
  }
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:not([readonly]):focus {
  ~ .form__label {
    padding: 0;
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: orange;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, orange, yellow);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

// <<< END INPUTS

// main buttons
.dark-white-btn {
  background-color: #232425;
  border: none;
  padding: 10px 20px;
  transition: transform 0.2s;
  color: white;
  svg {
    margin-left: 10px;
    color: white;
  }
  &:hover {
    background-color: orange;
    transform: scale(1.1);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
  }
}

// main icon btn
.dark-white-btn-icon {
  background-color: #232425;
  border: none;
  padding: 12px;
  transition: transform 0.2s;
  color: white;
  cursor: pointer;
  svg {
    margin: 0;
    color: white;
  }
  &:hover {
    background-color: orange;
    transform: scale(1.1);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
  }
}
