@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

/* Colors */
$colorCollection: (#D00010, #FEC641, #63C13B, #FE0016, #5C6C94, #6B0D05, #7D0006, #DB1913, #FEE34A, #2F8A27);
// $colorCollection: (#F4A43B, #0AB1AA, #FDFEE4, #F42618, #ADFEDD, #FF5F24, #FEF14F, #FD361B, #30398D, #FEE086);
// $colorCollection: (#FCF1BD);

/* Config */
$lights: 150; // match lights in mark up
$textColor: #FFFFFF;
$totalAnimation: 5;
$lightSize: 75;
$blurLevel: 2;

body {
  &.christmas {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#0A0707), color-stop(50%, #110C0D), to(#0C090A));
    /* Pretty Lights */
    .bokeh{
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
      top: -50px;
      left: -25px;
    }

    .light{
      position: absolute;
      border-radius: 50%;
      opacity: 0;
    }

    @for $i from 1 through $lights{
      $lightWidth: $lightSize + random(25);
      $lightHeight: $lightWidth;
      $lightVertical: random(100);
      $lightHorizontal: random(100);
      $lightBlur: $blurLevel + random($blurLevel);
      $lightDelay: 10 + random(25);
      $animation: 1 + random($totalAnimation);

      .light:nth-child(#{$i}){
        width: $lightWidth + px;
        height: $lightHeight + px;
        top: #{$lightVertical + "%"};
        left: #{$lightHorizontal + "%"};
        background: nth($colorCollection, random(length($colorCollection)));
        filter: blur($lightBlur + px);
        animation: #{$lightDelay + s} #{"light" + $animation} linear infinite;
      }
    }

    @for $i from 1 through $totalAnimation{
      @keyframes light#{$i} {
        25%{
          opacity: (25 + random(50)) * 0.01;
        }
        50%{
          opacity: 0;
        }
        75%{
          opacity: (25 + random(50)) * 0.01;
        }
        100%{
          opacity: 0;
        }
      }
    }

    /* Other Stuff */
    h1 {
      color: #fff;
    }

    .dark-white-btn-icon, .dark-white-btn {
      background-color: #0F8A5F;
      &:hover {
        background-color: #CC231E;
      }
    }

    /** Three **/
    :root {
      --background: #c0c0c0;
      --backgroundShadow: -6px 6px 15px rgba(0,0,0,0.5);
      --textshadow: 6px -6px 15px rgba(255,255,255,0.8);
    }

    #three {
      position: absolute;
      top: 6%;
      left: 65%;
      display: none;
      .text {
        color: var(--background);
        font-size: 3em;
        font-weight: bold;
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        text-shadow: var(--backgroundShadow),
        var(--textshadow);
        text-align: center;
      }
      .three-msg {
        font-family: 'Mountains of Christmas', cursive;
        font-size: 1em;
        color: #fff;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  body {
    &.christmas {
      #three {
        display: unset;
      }
    }
  }
}