.admin_user_index {
  .separator {
    margin: 40px 0;
  }
  .center_box {
    margin: auto;
  }
  .new_user_container {
    padding: 20px;
    button[type=submit] {
      width: 100%;
      margin-top: 20px;
    }
    .form__group {
      flex-direction: column;
      #password {
        padding: 12px 0 10px;
      }
    }
  }
}